In [15]:
import pandas as pd
import numpy as np
data= {
    'A': [1,2, np.nan, 4,5],
    'B': [np.nan, 2,3,4,5],
    'C': [1,2,3,np.nan,5],
    'D': [1,2,3,4,5]
}
df=pd.DataFrame(data)
print(df)

     A    B    C  D
0  1.0  NaN  1.0  1
1  2.0  2.0  2.0  2
2  NaN  3.0  3.0  3
3  4.0  4.0  NaN  4
4  5.0  5.0  5.0  5

In [16]:
print(df.isnull())

       A      B      C      D
0  False   True  False  False
1  False  False  False  False
2   True  False  False  False
3  False  False   True  False
4  False  False  False  False

In [17]:
print(df.notnull())

       A      B      C     D
0   True  False   True  True
1   True   True   True  True
2  False   True   True  True
3   True   True  False  True
4   True   True   True  True

In [18]:
bool_series=pd.isnull(df["A"])
missing_data = df[bool_series]
print(missing_data)

    A    B    C  D
2 NaN  3.0  3.0  3

In [19]:
bool_series=pd.isnull(df["B"])
missing_data = df[bool_series]
print(missing_data)

     A   B    C  D
0  1.0 NaN  1.0  1

In [20]:
df.isnull().sum()

A    1
B    1
C    1
D    0
dtype: int64

In [21]:
df.notnull().sum()

A    4
B    4
C    4
D    5
dtype: int64

In [23]:
print(df)
df1=df.fillna(value=0)
print(df1)

     A    B    C  D
0  1.0  NaN  1.0  1
1  2.0  2.0  2.0  2
2  NaN  3.0  3.0  3
3  4.0  4.0  NaN  4
4  5.0  5.0  5.0  5
     A    B    C  D
0  1.0  0.0  1.0  1
1  2.0  2.0  2.0  2
2  0.0  3.0  3.0  3
3  4.0  4.0  0.0  4
4  5.0  5.0  5.0  5

In [27]:
print(df)
df['A'].fillna(value=df['A'].mean(), inplace=True)
print(df)

     A    B    C  D
0  1.0  NaN  1.0  1
1  2.0  2.0  2.0  2
2  3.0  3.0  3.0  3
3  4.0  4.0  NaN  4
4  5.0  5.0  5.0  5
     A    B    C  D
0  1.0  NaN  1.0  1
1  2.0  2.0  2.0  2
2  3.0  3.0  3.0  3
3  4.0  4.0  NaN  4
4  5.0  5.0  5.0  5

/var/folders/nt/fbvrnbzj0vngj594tzwcw76c0000gn/T/ipykernel_22237/3405295964.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['A'].fillna(value=df['A'].mean(), inplace=True)

In [31]:
print(df)
df['B'].fillna(value=df['B'].median(), inplace=True)
print(df)

     A    B    C  D
0  1.0  NaN  1.0  1
1  2.0  2.0  2.0  2
2  3.0  3.0  3.0  3
3  4.0  4.0  5.0  4
4  5.0  5.0  5.0  5
     A    B    C  D
0  1.0  3.5  1.0  1
1  2.0  2.0  2.0  2
2  3.0  3.0  3.0  3
3  4.0  4.0  5.0  4
4  5.0  5.0  5.0  5

/var/folders/nt/fbvrnbzj0vngj594tzwcw76c0000gn/T/ipykernel_22237/3190754892.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['B'].fillna(value=df['B'].median(), inplace=True)

In [32]:
print(df)
df['C'].fillna(value=df['C'].mode([0]), inplace=True)
print(df)

     A    B    C  D
0  1.0  3.5  1.0  1
1  2.0  2.0  2.0  2
2  3.0  3.0  3.0  3
3  4.0  4.0  5.0  4
4  5.0  5.0  5.0  5
     A    B    C  D
0  1.0  3.5  1.0  1
1  2.0  2.0  2.0  2
2  3.0  3.0  3.0  3
3  4.0  4.0  5.0  4
4  5.0  5.0  5.0  5

/var/folders/nt/fbvrnbzj0vngj594tzwcw76c0000gn/T/ipykernel_22237/418948287.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['C'].fillna(value=df['C'].mode([0]), inplace=True)

In [33]:
print(df)

     A    B    C  D
0  1.0  3.5  1.0  1
1  2.0  2.0  2.0  2
2  3.0  3.0  3.0  3
3  4.0  4.0  5.0  4
4  5.0  5.0  5.0  5