In [3]:
data=[20,50, 80,100, 150]
min_val = min(data)
max_val = max(data)
normalized_data = [(x-min_val)/(max_val-min_val) for x in data]
print("Normalized Data:", normalized_data)

Normalized Data: [0.0, 0.23076923076923078, 0.46153846153846156, 0.6153846153846154, 1.0]

In [6]:
from sklearn.preprocessing import MinMaxScaler
import numpy as np
data=np.array([20,50,80,100,150]).reshape(-1,1)
scaler = MinMaxScaler()
normalized_data = scaler.fit_transform(data)
print("Normalized Data:\n",normalized_data)

Normalized Data:
 [[0.        ]
 [0.23076923]
 [0.46153846]
 [0.61538462]
 [1.        ]]

In [8]:
import pandas as pd
data={'Age': [20,25,30,35,40],
      'Salary': [20000, 30000, 40000, 50000, 60000]}
df=pd.DataFrame(data)
df_normalized = (df - df.min()) / (df.max() - df.min())
print("Normalized DataFrame:")
print(df_normalized)

Normalized DataFrame:
    Age  Salary
0  0.00    0.00
1  0.25    0.25
2  0.50    0.50
3  0.75    0.75
4  1.00    1.00

In [11]:
from sklearn.preprocessing import MinMaxScaler
df = pd.read_csv("heart.csv")
scaler=MinMaxScaler()
df_scaled = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
print("Normalized DataFrame using MinMaxScaler:")
print(df_scaled)

Normalized DataFrame using MinMaxScaler:
          age  sex        cp  trestbps      chol  fbs  restecg   thalach  \
0    0.708333  1.0  1.000000  0.481132  0.244292  1.0      0.0  0.603053
1    0.166667  1.0  0.666667  0.339623  0.283105  0.0      0.5  0.885496
2    0.250000  0.0  0.333333  0.339623  0.178082  0.0      0.0  0.770992
3    0.562500  1.0  0.333333  0.245283  0.251142  0.0      0.5  0.816794
4    0.583333  0.0  0.000000  0.245283  0.520548  0.0      0.5  0.702290
..        ...  ...       ...       ...       ...  ...      ...       ...
298  0.583333  0.0  0.000000  0.433962  0.262557  0.0      0.5  0.396947
299  0.333333  1.0  1.000000  0.150943  0.315068  0.0      0.5  0.465649
300  0.812500  1.0  0.000000  0.471698  0.152968  1.0      0.5  0.534351
301  0.583333  1.0  0.000000  0.339623  0.011416  0.0      0.5  0.335878
302  0.583333  0.0  0.333333  0.339623  0.251142  0.0      0.0  0.786260

     exang   oldpeak  slope    ca      thal  target
0      0.0  0.370968    0.0  0.00  0.333333     1.0
1      0.0  0.564516    0.0  0.00  0.666667     1.0
2      0.0  0.225806    1.0  0.00  0.666667     1.0
3      0.0  0.129032    1.0  0.00  0.666667     1.0
4      1.0  0.096774    1.0  0.00  0.666667     1.0
..     ...       ...    ...   ...       ...     ...
298    1.0  0.032258    0.5  0.00  1.000000     0.0
299    0.0  0.193548    0.5  0.00  1.000000     0.0
300    0.0  0.548387    0.5  0.50  1.000000     0.0
301    1.0  0.193548    0.5  0.25  1.000000     0.0
302    0.0  0.000000    0.5  0.25  0.666667     0.0

[303 rows x 14 columns]

In [12]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1