In [5]:
import pandas as pd

In [4]:
!pip install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [9]:
df=pd.DataFrame({
    "Name": [
        "Ashwathy", "Aathira", "Asha", "Priya"
    ],
    "Age": [14, 10, 34, 33],
    "Sex": ["Female", "Female", "Female", "Female"]
})

In [10]:
df

       Name  Age     Sex
0  Ashwathy   14  Female
1   Aathira   10  Female
2      Asha   34  Female
3     Priya   33  Female

In [11]:
df.shape

(4, 3)

In [12]:
type(df)

pandas.core.frame.DataFrame

In [14]:
age= df["Age"]
print(age)

0    14
1    10
2    34
3    33
Name: Age, dtype: int64

In [15]:
type(age)

pandas.core.series.Series

In [16]:
age.shape

(4,)

In [17]:
df.dtypes

Name    object
Age      int64
Sex     object
dtype: object

In [19]:
df.describe()

             Age
count   4.000000
mean   22.750000
std    12.526638
min    10.000000
25%    13.000000
50%    23.500000
75%    33.250000
max    34.000000

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   Sex     4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes

In [21]:
df1=df[["Name","Age"]]

In [22]:
df1

       Name  Age
0  Ashwathy   14
1   Aathira   10
2      Asha   34
3     Priya   33

In [29]:
df=pd.DataFrame({
    "Name": [
        "Ashwathy", "Aathira", "Asha", "Priya", "Renji"
    ],
    "Age": [14, 10, 34, 33, 47],
    "Sex": ["Female", "Female", "Female", "Female", "Male"]
})

In [31]:
df.to_csv("Mydata.csv")